.footer{
  width: 100%;
  font-size: 12px;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color:rgba(196, 11, 11, 0.860);
  cursor: pointer;
}